.banner{

    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
   
    // button{
    //   background-color: transparent;
      
    //   opacity: 0.2;
      
    // }
    // button:hover{
    //   background-color: beige;
    //   opacity: 1;
    // }

    // img{
    //   position: absolute;
    //   width: 100%;
    //   height: auto;
    //   top: 0;
    
    // }
    
  }